img {
  width: 100%;
  height: 100%;

}

body {
  font-family: "Roboto", sans-serif;
}

section {
  width: 1600px;
}

.header {
  flex-wrap: wrap;
  background-color: #FFFFFF;
  height: 80px;
  border: 1px solid #ECECEC ;
}

.container {
  max-width: 1170px;
  height: 100%;
  display: flex;
  padding: 0 15px;
  margin: 0 auto;
  flex-direction: column;
}

/* нам меню */

.logo {
  display: flex;
  align-items: center;
}

.logo-nav {
  width: 100%;
  height: 100%;
  display: flex;
}

.header-inner {
  height: 80px;
  display: flex;
  width: 100%;
}

.logo-web {
  color: #2196f3;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.logo-studio {
  color: #2f303a;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

/* навігація */

.nav {
  display: flex;
}

.nav-item {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0 300px 0 93px;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: black;
  transition: color 250ms ease;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 4px;
  transform: scaleX(0);
  transition: transform 250ms ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-link:hover {
  color: #2196f3;
}

/* інфо */
.info {
  justify-content: center;
  gap: 50px;
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin:  0  auto;
}

.info-link {
  color: #757575;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #757575;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.info-link:hover {
  color: #2196f3;
}

.info-link:hover > svg {
  fill: #2196f3;
}

.info-link > svg {
  width: 10px;
  height: 16px;
  fill: #757575;
}

.info-link:nth-child(1) > svg {
  width: 16px;
  height: 12px;
}

/* навігаційні кнопки */

.portfolio_filters {
  text-align: center;
  margin: 94px auto 50px auto;
  gap: 8px;
  display: flex;
}

.portfolio_button {
  padding: 6px 25px 6px 25px;
  line-height: 1.625;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  background-color: #F5F4FA;
  color: #212121;
  cursor: pointer;
}

/* .portfolio_button2 {
  height: 38px;
  width: 125px;
  line-height: 1.625;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  background-color: #F5F4FA;
  color: #212121;
  cursor: pointer;
}

.portfolio_button3 {
  height: 38px;
  width: 112px;
  line-height: 1.625;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  background-color: #F5F4FA;
  color: #212121;
  cursor: pointer;
}

.portfolio_button4 {
  height: 38px;
  width: 103px;
  line-height: 1.625;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  background-color: #F5F4FA;
  color: #212121;
  cursor: pointer;
}

.portfolio_button5 {
  height: 38px;
  width: 130px;
  line-height: 1.625;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  background-color: #F5F4FA;
  color: #212121;
  cursor: pointer;
} */

.portfolio_filters button:hover{
  color: #ffffff;
  background-color: #2196F3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* картки портфоліо */

.section {
  width: 100%;
}

.item {
  width: calc((100% - 60px) / 3);
}

.cards1 {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 0 0 30px 0;
  flex-wrap: wrap;
}

.portfolio_card {
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
}

.portfolio_card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.portfolio_title {
  font-size: 18px;
  font-weight: 700;
  color: #212121;
  line-height: 1.66;
}

.portfolio_type {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  line-height: 1.87;
}

.portfolio_image {
  width: 100%;

  object-fit: cover;
}

.portfolio_type-italic {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: #757575;
  line-height: 1.87;
}

.card-text {
  width: 322px;
  height: 70px;
  margin: 20px 24px 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}


/* підвал */

.footer-logo {
  display: flex;
  align-items: center;
  margin: 60px 0 20px 0;
}

.footer {
  height: 252px;
  background-color: #2f303a;
}

.footer-info {
  line-height: 1.71;
  color: #757575;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-info-link {
  color: #757575;
  font-weight: 500;
  display: block;
}

.footer-info-link:hover {
  color: #2196f3;
}

.footer-address {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.footer-logo-web {
  color: #2196f3;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.footer-logo-studio {
  color: #ffffff;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.icon-container {
  display: flex;
  flex-direction: column;
  margin: 72px auto 0 70px;
}

.icon {
  display: flex;
  gap: 10px;
}

.icon-item > svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  display: block;
}

.icon-title {
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.icon-item {
  background-color: #ffffff2c;
  border-radius: 32px;
  padding: 12px;
  justify-content: center;
  align-items: center;
}

.icon-item > svg:hover {
  fill: #ffffff;
}

.icon-item:hover {
  background-color: #2196f3;
}

.logo-icon {
  display: flex;
}

.form-footer-title {
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-footer-input {
  padding: 15px;
  background: none;
  border: 1px solid #ffffff30 ;
  border-radius: 4px;
  width: 358px;
  color: #2196F3;
}

.form-footer-input:focus {
  border-color: #2196f3;
}

.form-footer-btn {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  display: flex;
  color: #ffffff;
  line-height: 0.53;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: #2196f3;
  border-radius: 4px;
  border: none;
  justify-content: center;
  align-items: center;
}

.form-footer-btn > svg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}

.form-footer-btn:hover {
  background-color: #1976d2;
}

.form-footer {
  display: flex;
}

.form-footer-container {
  margin: 72px 0 0 0 ;
}
