a:active,
a:visited {
  color: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-inline-start: 0px
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}

input {
  border: none;
  outline: none;
}
