img {
  width:370px;
  height: 294px;
}

body {
  font-family: "Roboto", sans-serif;
}

section {
  width: 1600px;
}

header {
  background-color: #FFFFFF;
  height: 80px;
  width: 1600px;
  border: 1px solid #ECECEC ;
}

.container {
  width: 1170px;
  height: 100%;
  display: flex;
  padding: 0 15px;
  margin: 0 auto ;
  flex-direction: column;
}

/* нам меню */

.logo {
  display: flex;
  align-items: center;
}

.logo-nav {
  width: 100%;
  height: 100%;
  display: flex;
}

.header-inner {
  width: 1600px;
  height: 80px;
}

.logo-web {
  color: #2196f3;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.logo-studio {
  color: #2f303a;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

/* навігація */

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0 344px 0 93px;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.nav-link:hover {
  color: #2196f3;
}

/* інфо */
.info {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #757575;
  display: flex;
  align-items: center;
  gap: 50px;
}

.info-link {
  color: #757575;
  font-weight: 500;
}

.info-link:hover {
  color: #2196f3;
}

/* навігаційні кнопки */

.portfolio_filters {
  text-align: center;
  margin: 94px 0 50px 0;
}

.portfolio_button1 {
  height: 38px;
  width: 73px;
  line-height: 1.625;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  background-color: #F5F4FA;
  color: #212121;
}

.portfolio_button2 {
  height: 38px;
  width: 125px;
  line-height: 1.625;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  background-color: #F5F4FA;
  color: #212121;
}

.portfolio_button3 {
  height: 38px;
  width: 112px;
  line-height: 1.625;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  background-color: #F5F4FA;
  color: #212121;
}

.portfolio_button4 {
  height: 38px;
  width: 103px;
  line-height: 1.625;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  background-color: #F5F4FA;
  color: #212121;
}

.portfolio_button5 {
  height: 38px;
  width: 130px;
  line-height: 1.625;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  background-color: #F5F4FA;
  color: #212121;
}

.portfolio_filters button:hover{
  color: #ffffff;
  background-color: #2196F3;
}

/* картки портфоліо */

.cards1 {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px 0;
}

.cards2 {
  justify-content: center;
  display: flex;
  gap: 30px;
  margin: 0 0 30px 0;
}

.cards3 {
  justify-content: center;
  display: flex;
  gap: 30px;
  margin: 0 0 94px 0;
}

.portfolio_card {
  height: 404px;
  width: 370px;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
}

.portfolio_title {
  font-size: 18px;
  font-weight: 700;
  color: #212121;
  line-height: 1.66;
}

.portfolio_type {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  line-height: 1.87;
}

.portfolio_image {
  width: 370px;
  height: 294px;
}

.portfolio_type-italic {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: #757575;
  line-height: 1.87;
}

/* підвал */

.footer-logo {
  display: flex;
  align-items: center;
  margin: 60px 0 20px 0;
}

.footer {
  width: 1600px;
  height: 252px;
  background-color: #2f303a;
}

.footer-info {
  line-height: 1.71;
  color: #757575;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-info-link {
  color: #757575;
  font-weight: 500;
  display: block;
}

.footer-info-link:hover {
  color: #2196f3;
}

.footer-address {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.footer-logo-web {
  color: #2196f3;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.footer-logo-studio {
  color: #ffffff;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
