.logo {
  width: 1600px;
  height: 80px;
}

.logo-web {
  color: #2196f3;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.logo-studio {
  color: #2f303a;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.nav ul {
  text-decoration: none;
  list-style: none;
}

.nav a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: #2196f3;
}

.info {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #757575;
}

.info a {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
}

.info a:hover {
  color: #2196f3;
}
/* перша секція*/
.section1 {
  font-family: "Roboto", sans-serif;
  background-color: #2f303a;
  text-align: center;
  width: 1600px;
  height: 600px;
}

.section1 h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
}

.button {
  width: 216px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  border: #2196f3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border-radius: 5px;
  font-size: 16px;
}

/* друга секція */

.section2 {
  font-family: "Roboto", sans-serif;
  width: 1170px;
  height: 98px;
  justify-content: center;
  display: flex;
  gap: 30px;
}

.section2 h4 {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
}

.section2 p {
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

/* третя секція */

.section3 {
  font-family: "Roboto", sans-serif;
  width: 1170px;
  height: 386px;
  text-align: center;
}

.section3 h2 {
  font-weight: 900;
  font-size: 36px;
  color: #212121;
}

.box {
  width: 370px;
  height: 294px;
  gap: 30px;
}

/* четверта секція */

.section4 {
  font-family: "Roboto", sans-serif;
  width: 1600px;
  height: 648px;
  background-color: #f5f4f5;
}

.section4 h2 {
  font-weight: 700;
  font-size: 36px;
  color: #212121;
  text-align: center;
}

.cards {
  justify-content: center;
  display: flex;
  gap: 30px;
}

.card {
  width: 270px;
  height: 368px;
  background-color: #ffffff;
  text-align: center;
}

.card h5 {
  font-size: 16px;
  font-weight: 500;
  color: #212121;
}

.card p {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}

/* подвал */

.footer {
  width: 1600px;
  height: 252px;
  background-color: #2f303a;
}

.info2 {
  line-height: 24px;
  color: #757575;
  font-family: "Roboto", sans-serif;
}

.info2 a {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
}

.info2 a:hover {
  color: #2196f3;
}

.footer address {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.logo-web2 {
  color: #2196f3;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.logo-studio2 {
  color: #ffffff;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
