.logo {
  width: 1600px;
  height: 80px;
  display: flex;
  gap: 10px;
}

.logo-web {
  color: #2196f3;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.logo-studio {
  color: #2f303a;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.info {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #757575;
  display: flex;
  gap: 20px;

}

.info a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.info a:hover {
  color: #2196f3;
}

.nav {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
  color: lightblue;
  font-size: 13px;
  margin-bottom: 90px;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Цент по горизонталі */
  gap: 40px;
  font-size: 14px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav a:hover {
  color: #2196f3;
}

.button {
  width: 216px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  border: #2196f3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border-radius: 5px;
  font-size: 16px;
}

.tel {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

.section1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  color: white;
  text-align: center;
}

.section1 h1 {
  font-size: 44px;
  padding-top: 200px;
  position: relative;
}

.section2 {
  font-family: "Roboto", sans-serif;
  justify-content: center;
  display: flex;
  gap: 40px;
  font-size: 14px;
  position: relative;
}

.section2 p {
  color: #757575;
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 400;
}

.section2 h4 {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
}

.section3 {
  justify-content: center;
  display: flex;
  position: relative;
}

.section3 h2 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.img2 {
  width: 270px;
  height: 260px;
}

.box1 {
  width: 370px;
  height: 294px;
}

.logo2 {
  width: 145px;
  height: 31px;
  background-color: #2f303a;
}

.logo-web2 {
  color: #2196f3;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.logo-studio2 {
  color: #ffffff;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.footer {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
}

.footer p {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #757575;
}

.footer address {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #FFFFFF;
  margin-top: 10px;
  font-weight: 400;
}

.body {
  margin: 0;
  padding: 0;
}

.cards {
  width: 1600px;
  height: 648px;
  background-color: #F5F4FA;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  display: flex;
  margin-left: 30px;
}

.cards p {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}

.cards h6 {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
}

.cards h2 {
  font-size: 36px;
  font-weight: 700;
}

.card {
  width:270px;
  height: 368px;
  background-color: #FFFFFF;
}

.card2 {
  width:270px;
  height: 368px;
  background-color: #FFFFFF;
}

.card3 {
  width:270px;
  height: 368px;
  background-color: #FFFFFF;
}

.card4 {
  width:270px;
  height: 368px;
  background-color: #FFFFFF;
}
