body {
  font-family: "Roboto", sans-serif;
}

svg {
  display: block;
}

.container {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

/* логотип */

.logo {
  display: flex;
  align-items: center;
}

.logo-nav {
  width: 100%;
  height: 100%;
  display: flex;
}

.header-inner {
  height: 80px;
}

.logo-web {
  color: #2196f3;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.logo-studio {
  color: #2f303a;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

/* навігація */

.nav {
  display: flex;
}

.nav-item {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0 300px 0 93px;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: black;
  transition: color 250ms ease;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 4px;
  transform: scaleX(0);
  transition: transform 250ms ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-link:hover {
  color: #2196f3;
}

/* інфо */
.info {
  justify-content: center;
  gap: 50px;
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
}

.info-link {
  color: #757575;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #757575;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.info-link:hover {
  color: #2196f3;
}

.info-link:hover > svg {
  fill: #2196f3;
}

.info-link > svg {
  width: 10px;
  height: 16px;
  fill: #757575;
}

.info-link:nth-child(1) > svg {
  width: 16px;
  height: 12px;
}

/* перша секція */
.section1 {
  font-family: "Roboto", sans-serif;
  height: 600px;
  background-image:
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("./img/section1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* background-color: rgba (47, 48, 58, 0.4); */

.section1-block {
  margin: 195px auto 205px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section1-title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  display: flex;
  text-align: center;
  letter-spacing: 3px;
}

.section1-button {
  width: 216px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  border: #2196f3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border-radius: 5px;
  font-size: 16px;
}

.section1-button:hover {
  background-color: #1976d2;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  width: 528px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 4px;
  background-color: #ffffff;
  padding: 40px;
}

.title-modal {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #212121;
  font-weight: 700;
}

.model-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #757575;
  font-weight: 400;
  line-height: 24px;
}

.modal-text-link {
  color: #2196f3 !important;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  font-size: 14px;
  text-decoration: underline;
}

.modal-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid black;
  accent-color: #2196f3;
}

.modal-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.modal-checkbox:checked {
  background-color: #2196f3;
  border-color: #2196f3;
}

.modal-checkbox:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 4px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.form-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.cross > svg {
  width: 11px;
  height: 11px;
  fill: #000000;
  transition: fill 0.2s ease;
}

.cross {
  border: 1px solid #00000010;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffffff;

  transition: border-color 0.18s ease, background 0.18s ease;
  position: absolute;
  right: 10px;
  top: 10px;
}

.cross:hover {
  color: #2196f3;
  border-color: #2196f3;
}

.cross:hover > svg{
  fill: #2196f3;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal-close {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.53;
  cursor: pointer;

  box-shadow: 0px 15px 12px -16px #000000;
}

.modal-close:hover {
  background-color: #1976d2;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8.38px;
  margin: 25px 0 25px 0;
}

.form-input > input {
  width: 448px;
  height: 40px;
  border: 1px solid #21212120;
  padding-left: 42px;
  border-radius: 4px;
}

#comment {
  width: 448px;
  height: 120px;
  border: 1px solid #21212120;
  padding: 12px 16px 12px 16px;
  text-align: left;
  border-radius: 4px;
}

#comment:focus {
  border-color: #2196f3;
}

.form-input > svg {
  width: 15px;
  height: 12px;
  position: absolute;
  left: 15px;
  top: 14px;
}

.form-input {
  display: flex;
  align-items: center;
  position: relative;
}

.modal-form-title {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #757575;
  font-weight: 400;
}

.modal-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #757575;
  font-weight: 400;
  line-height: 24px;
}

input:focus {
  border-color: #2196f3;
}

.form-input:focus-within svg {
  fill: #2196f3;
}

/* друга секція */

.section2-img {
  width: 70px;
  height: 70px;
  display: block;
}

.section2-img_container {
  width: 270px;
  height: 120px;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.section2-feature:nth-child(1):before {
  content: url("./img/antenna1.png");
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  width: 100%;
  height: 120px;

  border-radius: 3px;
}
.section2-feature:nth-child(2):before {
  content: url("./img/clock1.png");
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  width: 100%;
  height: 120px;

  border-radius: 3px;
}

.section2-feature:nth-child(3):before {
  content: url("./img/diagram1.png");
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  width: 100%;
  height: 120px;

  border-radius: 3px;
}

.section2-feature:nth-child(4):before {
  content: url("./img/astronaut1.png");
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  width: 100%;
  height: 120px;

  border-radius: 3px;
}

.section-spetion {
  display: flex;

  gap: 30px;
  margin: 89px 0 0 0;
}

.section2-feature {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 270px;
}

.section2 {
  font-family: "Roboto", sans-serif;
  height: auto;
  margin: 0 0 94px 0;
}

.section2-title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  gap: 30px;
  padding-top: 20px;
}

.section2-text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}

/* третя секція */
.section3-gallery {
  justify-content: center;
  display: flex;
  gap: 30px;
  position: relative;
}

.section3 {
  font-family: "Roboto", sans-serif;
  height: 480px;
  text-align: center;
}

.section3-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #212121;
  margin: 0 0 50px 0;
  letter-spacing: 1px;
}

.section3-box {
  width: 370px;
  height: 294px;
  position: relative;
}

.section3-box-item {
  position: absolute;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 2px;
  left: 0;
  display: flex;
  z-index: 1;
}

.section3-box-container {
  position: relative;
}

.section3-box-item-p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* Четверта секція */
.section4 {
  font-family: "Roboto", sans-serif;
  height: 648px;
  background-color: #f5f4f5;
}

.our_team {
  gap: 50px;
  display: flex;
  flex-direction: column;
  padding: 94px 0 0 0;
}

.section4-title {
  font-weight: 700;
  font-size: 36px;
  color: #212121;
  text-align: center;
  letter-spacing: 1px;
}

.section4-cards {
  justify-content: center;
  display: flex;
  gap: 30px;
}

.section4-card {
  width: 270px;
  background-color: #ffffff;
  text-align: center;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0px 3px 2px -1px rgba(196, 196, 196, 0.73);
}

.section4-card-title {
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  margin: 30px 0 10px 0;
}

.section4-card-text {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}

.section4-card:hover {
  box-shadow: 0px 5px 2px -1px rgba(196, 196, 196, 0.1);
}

.icon-card {
  display: flex;
  gap: 10px;
  margin: 16px 32px 30px 32px;
}

.icon-item-card > svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  display: block;
}

.icon-item-card:hover > svg {
  fill: #ffffff;
}

.icon-item-card:hover {
  background-color: #2196f3;
}

.icon-item-card {
  border-radius: 32px;
  padding: 12px;
  justify-content: center;
  align-items: center;
}

/* підвал */

.footer-logo {
  display: flex;
  align-items: center;
  margin: 60px 0 20px 0;
}

.footer {
  height: 252px;
  background-color: #2f303a;
}

.footer-info {
  line-height: 1.71;
  color: #757575;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-info-link {
  color: #757575;
  font-weight: 500;
  display: block;
}

.footer-info-link:hover {
  color: #2196f3;
}

.footer-address {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.footer-logo-web {
  color: #2196f3;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.footer-logo-studio {
  color: #ffffff;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.icon-container {
  display: flex;
  flex-direction: column;
  margin: 72px 93px 0 70px;
}

.icon {
  display: flex;
  gap: 10px;
}

.icon-item > svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  display: block;
}

.icon-title {
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.icon-item {
  background-color: #ffffff2c;
  border-radius: 32px;
  padding: 12px;
  justify-content: center;
  align-items: center;
}

.icon-item > svg:hover {
  fill: #ffffff;
}

.icon-item:hover {
  background-color: #2196f3;
}

* {
  box-sizing: border-box;
}

.logo-icon {
  display: flex;
}

.customers-title {
  font-family: "roboto", sans-serif;
  font-size: 36px;
  letter-spacing: 1px;
  color: #212121;
  font-weight: 700;
  margin: 94px auto 50px auto;
}

.customers-img {
  display: flex;
  margin: 0 0 94px 0;
  justify-content: space-between;
}

.customers-icon > svg {
  fill: #afb1b8;
  border: 2px solid #afb1b8;
  border-radius: 7px;
  width: 170px;
  height: 92px;
  display: block;
  padding: 16px 32px 16px 32px;
}

.customers-icon > svg:hover {
  fill: #2196f3;
  border: 2px solid #2196f3;
}

.form-footer-title {
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-footer-input {
  padding: 15px;
  background: none;
  border: 1px solid #ffffff30 ;
  border-radius: 4px;
  width: 358px;
  height: 50px;
  color: #2196f3;
}

.form-footer-input:focus {
  border-color: #2196f3;
}

.form-footer-btn {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  display: flex;
  color: #ffffff;
  line-height: 0.53;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: #2196f3;
  border-radius: 4px;
  border: none;
  justify-content: center;
  align-items: center;
}

.form-footer-btn > svg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}

.form-footer-btn:hover {
  background-color: #1976d2;
}

.form-footer {
  display: flex;
}

.form-footer-container {
  margin: 72px 0 0 0 ;
}
