body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.container2 {
  width: 1170px;
  height: 600px;
  margin:  0 auto;
  text-align: center;
}

.specialitie {
  width: 1170px;
  height: 98px;
  text-align: left;
  justify-content: center;
  display: inline-flex;
  gap: 30px;
  margin: 89px auto 94px auto;
}

/* логотип */

.logo-nav{
  display: flex;
  justify-content: center;
}

.header-inner {
  width: 1600px;
  height: 80px;
}

.logo-web {
  color: #2196f3;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.logo-studio {
  color: #2f303a;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

/* навігація */

.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.nav-link:hover {
  color: #2196f3;
}

/* інфо */
.info {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #757575;
}

.info-link {
  color: #757575;
  font-weight: 500;
}

.info-link:hover {
  color: #2196f3;
}

/* перша секція */
.section1 {
  font-family: "Roboto", sans-serif;
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
}

.section1-block {
  margin: 195px auto 205px auto;
  display: inline-block;
}

.section1-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
}

.section1-button {
  width: 216px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  border: #2196f3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border-radius: 5px;
  font-size: 16px;
}

/* друга секція */
.section2 {
  font-family: "Roboto", sans-serif;
  width: 1600px;
  height: 281px;
  text-align: center;
  justify-content: center;
  display: inline-block;
}

.section2-title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  gap: 30px;
}

.section2-text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}

/* третя секція */
.section3 {
  font-family: "Roboto", sans-serif;
  width: 1600px;
  height: 480px;
  text-align: center;
}

.section3-title {
  font-weight: 900;
  font-size: 36px;
  color: #212121;
}

.section3-box {
  width: 370px;
  height: 294px;
  gap: 30px;
}

/* Четверта секція */
.section4 {
  font-family: "Roboto", sans-serif;
  width: 1600px;
  height: 648px;
  background-color: #f5f4f5;
}

.our_team {
  margin: 94px 215px 94px 215px;
  display: inline-block;
}

.section4-title {
  font-weight: 700;
  font-size: 36px;
  color: #212121;
  text-align: center;
}

.section4-cards {
  justify-content: center;
  display: flex;
  gap: 30px;
}

.section4-card {
  width: 270px;
  height: 368px;
  background-color: #ffffff;
  text-align: center;
}

.section4-card-title {
  font-size: 16px;
  font-weight: 500;
  color: #212121;
}

.section4-card-text {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}

/* підвал */
.footer {
  width: 1600px;
  height: 252px;
  background-color: #2f303a;
}

.footer-info {
  line-height: 1.71;
  color: #757575;
  font-family: "Roboto", sans-serif;
}

.footer-info-link {
  color: #757575;
  font-weight: 500;
  display: block;
}

.footer-info-link:hover {
  color: #2196f3;
}

.footer-address {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.footer-logo-web {
  color: #2196f3;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.footer-logo-studio {
  color: #ffffff;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
