/* логотип */
.logo {
  width: 1600px;
  height: 80px;
}

.logo-web {
  color: #2196f3;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.logo-studio {
  color: #2f303a;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

/* навігація */
.nav-list {
  text-decoration: none;
  list-style: none;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  color: #2196f3;
}

/* інфо */
.info {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #757575;
}

.info-link {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
}

.info-link:hover {
  color: #2196f3;
}

/* перша секція */
.section1 {
  font-family: "Roboto", sans-serif;
  background-color: #2f303a;
  text-align: center;
  width: 1600px;
  height: 600px;
}

.section1-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
}

.section1-button {
  width: 216px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  border: #2196f3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border-radius: 5px;
  font-size: 16px;
}

/* друга секція */
.section2 {
  font-family: "Roboto", sans-serif;
  width: 1170px;
  height: 98px;
  justify-content: center;
  display: flex;
  gap: 30px;
}

.section2-title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
}

.section2-text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}

/* третя секція */
.section3 {
  font-family: "Roboto", sans-serif;
  width: 1170px;
  height: 386px;
  text-align: center;
}

.section3-title {
  font-weight: 900;
  font-size: 36px;
  color: #212121;
}

.section3-box {
  width: 370px;
  height: 294px;
  gap: 30px;
}

/* Четверта секція */
.section4 {
  font-family: "Roboto", sans-serif;
  width: 1600px;
  height: 648px;
  background-color: #f5f4f5;
}

.section4-title {
  font-weight: 700;
  font-size: 36px;
  color: #212121;
  text-align: center;
}

.section4-cards {
  justify-content: center;
  display: flex;
  gap: 30px;
}

.section4-card {
  width: 270px;
  height: 368px;
  background-color: #ffffff;
  text-align: center;
}

.section4-card-title {
  font-size: 16px;
  font-weight: 500;
  color: #212121;
}

.section4-card-text {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}

/* підвал */
.footer {
  width: 1600px;
  height: 252px;
  background-color: #2f303a;
}

.footer-info {
  line-height: 1.71;
  color: #757575;
  font-family: "Roboto", sans-serif;
}

.footer-info-link {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
}

.footer-info-link:hover {
  color: #2196f3;
}

.footer-address {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.footer-logo-web {
  color: #2196f3;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.footer-logo-studio {
  color: #ffffff;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
